.loggedOutHomePage img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.loggedOutHomePage h1 {
  font-family: "Manrope", sans-serif;
}

.loggedOutHomePage p {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
}
